/* universal tag style */

*{
    margin: 0;
}

/* header banner style */

.header-banner{
    background-image: url(../banner/banner2.png);
    width: 1600px;
    height: 800px;
    top: 0;
    background-repeat: no-repeat;
}

.header-info{
    display: flex;
    justify-content: space-evenly;
    padding-top: 216px;
    padding-left: 845px;
}

.header-title{
    font-family: 'Work Sans';
    font-style: normal;
    color: #151414;
    text-align: right;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}

.header-descripton{
    font-family: 'Work Sans';
    font-style: normal;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}

.section1-btn{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: #F15B22;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
}

/* main section */

.section-1{
    padding: 130px 300px 100px 210px;
    margin-top: 0;
    width: 1072px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.section1-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1-text-div{
    margin-left: 70px;
}

.section-text-list{
    margin-left: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-right: 205px;
    color: #444343;
}

.section-info{
    display: flex;
}

.section-img{
    background: url(ff.png);
    width: 451px;
    height: 898px;
}

.section-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.section-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* my plyne section style */

.section-2{
    padding: 130px 230px 100px 230px;
    width: 1141px;
    height: 300px;
    left: 300px;
}

.my-plans{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.section-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 50px;
}

.section2-title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
}

.section2-descrption{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* section3-banner style */

.section3-banner{
   
    background-image: url(../watch.png);
    width: 1140px;
    height: 300px;
    left: 230px;
    margin-left: 230px;
    display: flex;
    align-items: center;
}
.ttt{
    margin-left: 50px;
}
.section3-child-text{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    position: absolute;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* footer style */

.footer-container{
    width: 1600px;
    height: 500px;
    margin-top: 130px;
    background: #151414;
    

}
.ffa{
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;
width: 123px;
height: 29px;
color: #FFFFFF;
}
.ffp{
    margin-top: 20px;
 width: 325px;
height: 64px;
border: 1px solid #FFFFFF;
border-radius: 8px;
display: flex;
align-items: center;
}
.ffs{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    margin-left: 20px;
}
.ffpp{
    margin-top: 20px;
    width: 170.11px;
    height: 64px; 
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
align-items: center;
justify-content: center;
}
.ffss{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F15B22;
}
.footer-main{
    display: flex;
    
}
.footer-text-right{
    display: flex;
    align-items: center;
    justify-content:  center;
    color: #F8F8F8;
    margin-left: 500px;
    margin-top: 100px;

}
.footer-info{
    display: flex;
    align-items: center;
    justify-content:  center;
    margin-left: 200px;
    margin-top: 100px;

}

.footer-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

.footer-descrption{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 10px;
}

.footer-a{
    padding-top: 20px;
}

.footer1-a{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.footer2-a{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 30px;
}

.footer-icon{
    display: flex;
    grid-gap: 22px;
    padding-top: 25px;
}

/* another sector */
